body{
    background-color: rgb(255, 255, 255);
}

.returnal{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding:140px 15px;
}

.img-control{
    width: 250px;
}
.bottone-rosso{
    text-decoration: none;
    border-radius: 30px;    
}
.b-radius{
    border-radius: 30px;
}
.takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding:140px 15px;
}
.bg-color-list{
    background-color: rgb(31, 31, 31);
}
.bg-particolare{
    background-color:rgb(217, 218, 220);
}
.bg-grigio{
   background-color:rgb(190, 188, 187);
}
.line-height{
    line-height: 70px;
}
.bg-plus{
    background-color: rgb(22, 28, 59);
}
.bg-footer{
    background-color: rgb(0, 67, 156);
}
.width-immagine{
    width: 20px;
}
.dimensione-sie{
    width: 200px;
}
.flex-immagini{
    width: calc( 100% / 3 );
}
.allineamento-2{
    margin-left: 40px;
}

.hover-lift{
    position: relative;
}
.hover-lift:hover{
    bottom: 15px;
}
.down-bar{
    display: none;
}
.attivazione:active down-bar{
    display: block;
}

@media screen and (min-width: 720px) { 
    .flex-immagini{
        width: calc( 100% / 5 );
    }
    .allineamento{
        text-align: left;
        margin-left: 60px;
    }
    .allineamento-2{
        margin-left: 0px;
    }
    .img-control{
        width: 350px;
    }
}