body{
    background-color: rgb(255, 255, 255);
}

.returnal{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding:140px 15px;
    margin-top: 105px;
}
.logo-sony{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    z-index: 1;
}
.with-logo{
    width: 180px;
}
.mt{
    margin-top: 30px;
}

.img-control{
    width: 250px;
}
.bottone-rosso{
    text-decoration: none;
    border-radius: 30px;    
}
.b-radius{
    border-radius: 30px;
}
.takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding:140px 15px;
}
.bg-top{
    background-color:#fff;
}
.bg-color-list{
    background-color: rgb(31, 31, 31);
}
.bg-particolare{
    background-color:rgb(217, 218, 220);
}
.bg-grigio{
   background-color:rgb(190, 188, 187);
}
.line-height{
    line-height: 70px;
}
.bg-plus{
    background-color: rgb(22, 28, 59);
}
.bg-footer{
    background-color: rgb(0, 67, 156);
}
.width-immagine{
    width: 20px;
}
.dimensione-sie{
    width: 200px;
}
.flex-immagini{
    width: calc( 100% / 3 );
}
.flex-immagini img{
    opacity: .6;
    transition-duration: .5s;
    border-bottom: 2px solid transparent;
}
.flex-immagini img:hover{
    opacity: 1;
    border-bottom: 1px solid rgb(25, 68, 255);
}
.allineamento-2{
    margin-left: 40px;
}

.hover-lift{
    transition-duration: .5s;
}
.hover-lift:hover{
    transform: translateY(-10px);
}

.bar-drop{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0px;
}
.navbar-nav .nav-item .altezze{
    margin-top: 0;
    border: 0;
    border-radius: 0;
}

.border-transparent{
    border: 2px solid transparent;
}
.inner-border:hover{
    box-shadow: inset 0px 0px 0px 2px black;
    border: 2px solid red;
}
.inner-border-2:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
.inner-border-3:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}
.inner-border-4:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(218, 218, 218);
    border: 2px solid rgb(197, 197, 197);
}
@media screen and (min-width: 720px) { 
    .flex-immagini{
        width: calc( 100% / 5 );
    }
    .allineamento{
        text-align: left;
        margin-left: 60px;
    }
    .allineamento-2{
        margin-left: 0px;
    }
    .img-control{
        width: 350px;
    }
}